*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 1200px;
    height: 800px;

}
img {
    width: 280px;
    height: auto;
    display: block;
}


header nav{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: 0 0 10px #000000; */
    background: #cbb9ea;
    position: fixed;
    left: 0;
    z-index: 100;
}

header nav .logo img{
    /*width: 200px;*/
    cursor: pointer;
    margin: 8px 0;
}

header nav ul{
    list-style: none;
}

header nav li{
    display: inline-block;
    font-size: 18px;
    padding: 0 100px;
}

header nav li a{
    text-decoration: none;
    color: #000;
}

.navbar {
    background-color: #cbb9ea;
    color: #0d0d0d;
    display: flex;
    justify-content: center; /* Center-align navigation items horizontally */
    align-items: center;
    margin-top: 124px;
}



.navbar ul {
    display: block;
    text-align: center;
    font-size: 15px;
}

.navbar li {
    margin: 0 10px; /* Add spacing between navigation items */
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2%;
    font-size: 15px;
}

.navbar a {
    text-decoration: none;
    color: #050505;
}

.categories-button {
    background-color: #f1c40f;
    border: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


header nav li a:hover{
    color: #0b0f0f;
}

header nav .social_icon i{
    /* transition: all 0.3s ease-in-out; Add a smooth transition */
    margin: 0 10px;
    font-size: 30px;
}

header nav .social_icon i:hover{
    color: #070f0f;
    text-shadow: 2px 2px 4px rgba(15, 12, 12, 0.5);
    cursor: pointer;
}

/*General info */

/* .general_info {
    display: relative;
    width: 100%;
    height: auto;
    background-color: #000;

} */

.search-container {
    display: flex;
    height: 50px;
    align-items: center;
    /*max-width: px;*/
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 25px; /* Rounded corners */
    overflow: hidden;
    margin-left: 60px;
    width: 1100px;
}

/* Style for the search input */
.search-input {
    width: 700px;
    padding: 15px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 22px;
    color: #181212;
}

/* Style for the search placeholder */
.search-input::placeholder {
    /* color: rgba(7, 7, 7, 0.5); Faded placeholder color */
    color: #000;
}

.search-container .social_icon {
    width: 120px;
    margin-left: 205px;
    /* color: rgba(18, 16, 16, 0.5); Faded placeholder color */
    color: #000;
}

.social_icon {
    width: 200px;
    margin-left: 40px;
    /* color: rgba(3, 0, 0, 0.5); Faded placeholder color */
    color: #000;
}

.language_image{
    margin-left: 50px;
}

/* Style for the dropdown container */
.dropdown {
    position: relative; /* Use absolute positioning */
    margin-left: 50px;
    display: inline;

}

/* Style for the dropdown button */
.dropbtn {
    transition: all 0.3s ease-in-out; /* Add a smooth transition */
    background-color: #cbb9ea;
    color: black;
    /* padding: 10px 20px; */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;

}

.dropbtn:hover {
    color: #000;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */

}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;
}

/* Style for the dropdown links */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Hover effect for the dropdown links */
.dropdown-content a:hover {
    background-color: #000000;
    border: none;
    border-radius: 15px;
    color: #fff;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;

}

header nav .social_icon .cart-icon{
    position: relative;
}

header nav .social_icon .cart-badge{
    background-color: black; /* Background color for the badge */
    color: white; /* Text color for the badge */
    border-radius: 50%; /* Makes it circular by setting border-radius to 50% */
    width: 24px; /* Adjust the width and height to fit your design */
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /*top: -5px; !* Adjust position as needed to align it with the cart icon *!*/
    /*right: -5px;*/
    font-size: 14px;
    position: absolute;
    top: -45px;
    right: 20px;
}

.cart-link {
    text-decoration: none;
    color: black;
    /* Add more styles as needed */
}